{% extends 'core/base.html' %}


{% block head %}
<!-- Data Table Css -->
<link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='pages/data-table/css/buttons.dataTables.min.css')}}">
<link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css')}}">
<!-- animation nifty modal window effects css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/component.css')}}">
{% endblock head %}


{% block scripts %}
<!-- data-table js -->
<script
    src="{{url_for('static', filename='bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script
    src="{{url_for('static', filename='bower_components/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='pages/data-table/js/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='pages/data-table/js/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='pages/data-table/js/vfs_fonts.js')}}"></script>
<script
    src="{{url_for('static', filename='bower_components/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
<script
    src="{{url_for('static', filename='bower_components/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
<script
    src="{{url_for('static', filename='bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script
    src="{{url_for('static', filename='bower_components/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
<script
    src="{{url_for('static', filename='bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<!-- sweet alert modal.js intialize js -->
<!-- modalEffects js nifty modal window effects -->
<script type="text/javascript" src="{{url_for('static', filename='js/modalEffects.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/classie.js')}}"></script>
<script>
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
            }
        }
    });        

    $.validator.setDefaults({
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    function clearCreateModal(){
        $(':input','#mdl_create_event_location')
            .not(':button, :submit, :reset, :hidden')
            .val('')
            .prop('checked', false)
            .prop('selected', false);
    }

    $(document).ready(function () {
        $("#li_event_locations").addClass('active');
        $("#li_event_locations").addClass('pcoded-trigger');

        var selectedEventLocation;

        var dtEventLocations = $('#tbl_event_locations').DataTable({
            "dom": 'lrt',
            "pageLength": 25,
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "responsive": true,
            "autoWidth": false,
            "ajax": {
                "url": "/datatables/event-locations",
            },
            "columnDefs": [{
                "targets": 0,
                "visible": false,
            },{
                'targets': 1,
                "render": function(data, type, row){
                    console.log(data)
                    return `
                        <td class="pro-name">
                            <h6>${data.name}</h6>
                            <span>${data.description}</span>
                        </td>`;
                }
            },
            {
                "targets": 7,
                "width": "1%",
                "render": function (data, type, row) {
                    return `
                    <td class="action-icon">
                        <a href="#!" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="icofont icofont-ui-edit"></i></a>
                        <button href="#!" class="btn-qr-code text-muted md-trigger" data-toggle="tooltip" data-placement="top" title="" data-original-title="QR Code" data-modal="mdl_qr_code"><i class="icofont icofont-qr-code"></i></button>
                    </td>
                    `
                }
            }],
        });

        $('#frm_create_event_location').validate({
            'rules': {
                'name': {
                    'required': true
                },
                'description': {
                    'required': false,
                },
                'address': {
                    'required': false,
                },
                'date_start': {
                    'required': false,
                },
                'date_end': {
                    'required': false,
                },
            },
            'submitHandler': function(form){
                var xform = $(form);

                swal({
                    title: `Add this data?`,
                    text: "Double check it you before submit!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Confirm!",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function(){
                    setTimeout(function () {
                        console.log(xform.attr('action'));

                        $.ajax({
                            type: xform.attr('method'),
                            url: xform.attr('action'),
                            data: xform.serialize(),
                            success: function (response) {
                                console.log(response.data);
                                dtEventLocations.ajax.reload();

                                swal("Success!", response.message, "success");

                                event.stopPropagation();
                                $("#mdl_create_event_location").removeClass('md-show');
                                clearCreateModal();
                            },
                            error: function (data) {
                                swal("Error Occured!", "Please refresh the page then try again!", "error");
                            },
                        });
                    }, 500);
                });
            }
        });


        $("#tbl_sub_areas tbody").on('click', '.btn-edit', function () {
            var overlay = document.querySelector('.md-overlay');
            const modal = $("#mdl_edit_event_location");
            modal.addClass('md-show');
            function removeModalHandler() {
                modal.removeClass('md-show');
            }
            overlay.removeEventListener('click', removeModalHandler);
            overlay.addEventListener('click', removeModalHandler);

            // Get row data
            var current_row = $(this).parents('tr');//Get the current row
            if (current_row.hasClass('child')) {//Check if the current row is a child row
                current_row = current_row.prev();//If it is, then point to the row before it (its 'parent')
            }
            const data = dtEventLocations.row(current_row).data();//At this point, current_row refers to a valid row in the table, whether is a child row (collapsed by the DataTable's responsiveness) or a 'normal' row
            console.log('Row data: ' + data);

            selectedEventLocation = data[0];

            $(".frm-edit-group").attr('style','display:none !important');
            $(".preloader3").show();
            $("#input_edit_name").val('');
            $("#input_edit_description").val('');
            $("#input_edit_area").val('');
            
            $.getJSON(
                `/bds/sub-areas/${selectedEventLocation}`, function(response){
                if(response.status == "success"){
                    $("#input_edit_name").val(response.data.name);
                    $("#input_edit_description").val(response.data.description);
                    $("#input_edit_area").val(response.data.area_id);
                    
                    $(".preloader3").hide();
                    $(".frm-edit-group").show();
                } else if(response.status == "error"){
                    swal("Error Occured!", "Please refresh the page then try again!", "error");
                }
            }).fail(function() {
                swal("Error Occured!", "Please refresh the page then try again!", "error");
            });
        });


        $('#frm_edit_event_location').validate({
            'rules': {
                'name': {
                    'required': true
                },
                'description': {
                    'required': true,
                },
                'area': {
                    'required': true,
                },
            },
            'submitHandler': function(form){
                var xform = $(form);

                swal({
                    title: `Update this Sub Area?`,
                    text: "Double check your inputted data!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Confirm!",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function(){
                    setTimeout(function () {
                        const editURL = `/bds/sub-areas/${selectedEventLocation}/edit`;

                        $.ajax({
                            type: xform.attr('method'),
                            url: editURL,
                            data: xform.serialize(),
                            success: function (response) {
                                dtEventLocations.ajax.reload();

                                swal("Success!", response.message, "success");

                                event.stopPropagation();
                                $("#mdl_edit_event_location").removeClass('md-show');
                            },
                            error: function (data) {
                                swal("Error Occured!", "Please refresh the page then try again!", "error");
                            },
                        });
                    }, 500);
                });
            }
        });

        $("#tbl_event_locations tbody").on('click', '.btn-qr-code', function () {
            $("#div_qr_code").empty();

            var overlay = document.querySelector('.md-overlay');
            const modal = $("#mdl_qr_code");
            modal.addClass('md-show');
            function removeModalHandler() {
                modal.removeClass('md-show');
            }
            overlay.removeEventListener('click', removeModalHandler);
            overlay.addEventListener('click', removeModalHandler);

            // Get row data
            var current_row = $(this).parents('tr');//Get the current row
            if (current_row.hasClass('child')) {//Check if the current row is a child row
                current_row = current_row.prev();//If it is, then point to the row before it (its 'parent')
            }
            const data = dtEventLocations.row(current_row).data();//At this point, current_row refers to a valid row in the table, whether is a child row (collapsed by the DataTable's responsiveness) or a 'normal' row
            
            var qrcode = new QRCode(document.getElementById("div_qr_code"), {
                text: data[0],
                width: 250,
                height: 250,
                colorDark : "#5868bf",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
            console.log('Row data: ' + data);
        });

        $(".close_btn").click(function(event){
            const modal = $("#mdl_qr_code");

			event.stopPropagation();
            modal.removeClass('md-show');
        });

    });
</script>
{% endblock scripts %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Events</h4>
                                    <span>List</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <a href="{{url_for('main.create_event_location')}}" type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block"> <i class="icofont icofont-plus m-r-5"></i> Create
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->

                <div class="page-body">
             
                    <!-- Server Side Processing table start -->
                    <div class="card">
                        <div class="card-header">
                            <!-- <h5>Sub Area List</h5> -->
                            <!-- <span>Responsive will automatically detect new DataTable instances being created on a page and initialize itself if it finds the responsive option or responsive class name on the table, as shown in the other examples.</span> -->

                        </div>
                        <div class="card-block">
                            <div class="dt-responsive table-responsive">
                                <table id="tbl_event_locations" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>NAME</th>
                                            <th>ADDRESS</th>
                                            <th>START DATE</th>
                                            <th>END DATE</th>
                                            <th>DATE CREATED</th>
                                            <th>CREATED BY</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Add Contact Start Model start-->
                    <div class="md-modal md-effect-13 addcontact" id="mdl_create_event_location">
                        <div class="md-content">
                            <h3 class="f-26">Add Event Location</h3>
                            <div>
                                <form id="frm_create_event_location" action="{{url_for('api.create_event_location')}}" method="POST" novalidate="novalidate">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="name">NAME</label>
                                            <input type="text" class="form-control" name="name" placeholder="" value="">
                                        </div>
                                        
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="description">DESCRIPTION</label>
                                            <input type="text" class="form-control" id="description" name="description" placeholder="" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12 mb-3">
                                            <label for="address">Address</label>
                                            <input type="text" class="form-control" id="address" name="address" placeholder="" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="date_start">Start Date</label>
                                            <input type="date" class="form-control" id="date_start" name="date_start" placeholder="" value="">
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="date_end">End Date</label>
                                            <input type="date" class="form-control" id="date_end" name="date_end" placeholder="" value="">
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 md-close d-inline-block close_btn">Close</button>
                                    <button form="frm_create_event_location" type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block save_btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-modal md-effect-13 addcontact" id="mdl_edit_event_location">
                        <div class="md-content">
                            <h3 class="f-26">Edit Event Location</h3>
                            <div>
                                <div class="h-100 row align-items-center">
                                    <div class="col">
                                        <div class="preloader3 loader-block">
                                            <div class="circ1 loader-info"></div>
                                            <div class="circ2 loader-info"></div>
                                            <div class="circ3 loader-info"></div>
                                            <div class="circ4 loader-info"></div>
                                        </div>
                                    </div>
                                  </div>
                                <form id="frm_edit_event_location" class="frm-edit-group" method="POST" novalidate="novalidate">
                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="input_edit_name">NAME</label>
                                            <input id="input_edit_name" type="text" class="form-control" name="name" placeholder="NAME" required="" value="">
                                        </div>
                                        
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="input_edit_description">DESCRIPTION</label>
                                            <input id="input_edit_description" type="text" class="form-control" name="description" placeholder="DESCRIPTION" required="" value="">
                                            
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12 mb-3">
                                            <label for="input_edit_area">AREA</label>
                                            <select id="input_edit_area" name="area" class="form-control">
                                                <option value="">Choose...</option>

                                                {% for area in areas %}
                                                    <option value="{{area.id}}">{{area.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 md-close d-inline-block close_btn">Close</button>
                                    <button form="frm_edit_event_location" type="submit" class="frm-edit-group btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block save_btn">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Contact Start Model start-->
                    <div class="md-modal md-effect-13 addcontact" id="mdl_qr_code">
                        <div class="md-content">
                            <h3 class="f-26">Member's name</h3>
                            <div>
                                <div style="text-align: center;" id="div_qr_code"></div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 md-close d-inline-block close_btn">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-overlay"></div>
                    <!-- Add Contact Ends Model end-->
                </div>
            </div>
        </div>
        <!-- Warning Section Starts -->
        <div id="styleSelector">

        </div>
    </div>
</div>
{% endblock content %}